.navbar {
  background-color: var(--shadow-dark-blue);
  height: 100px;
}

.navbar-brand {
  font-weight: bold;
  color: var(--shadow-light-blue);
}

.navbar-text {
  color: var(--shadow-light-blue);
  font-weight: bold;
  cursor: pointer;
}

.btn-dark {
  background-color: var(--dark-blue);
  border: none;
}

.btn-dark:hover {
  background: var(--lighter-blue);
}
