.logo {
  width: 40%;
  margin-top: 50px;
}

.login-label {
  font-weight: bold;
  color: var(--shadow-light-blue);
}

.invalid-input {
  border: 3px solid red;
}

.valid-input {
  border: 3px solid green;
}

.login-btn {
  background-color: var(--dark-blue);
  color: var(--shadow-light-blue);
}

.login-btn:hover {
  background-color: var(--shadow-dark-blue);
}

.title {
  color: var(--shadow-light-blue);
}

.msg {
  margin-top: 5px;
}
